/* Hide any leftover GrapesJS default panels */
.gjs-cv-canvas {
  @apply top-0 right-0 w-full h-full !bg-transparent;
}

#gjs-blocks{
 .gjs-one-bg {
    background-color: var(--ui-default) !important;
      
  }

  .gjs-block {
    background-color: var(--ui-default);
    color: var(--text);
    border: 2px solid var(--far-bg);
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.07s, transform 0.07s;
  }

  .gjs-block:hover {
    background-color: var(--primary);
    color: var(--primary-hover);
    transform: scale(1.03);
    border: 2px solid var(--ui-subtle);
  }

  .gjs-block-category {
    background-color: var(--ui-bg);
    color: var(--text);
    border: none; 
  }

  .gjs-title {
    background-color: var(--ui-bg) !important;
    border-bottom: 2px solid var(--far-bg) !important;
  }
}

#gjs-layers{
 

  .gjs-layer-title{
    background-color: var(--ui-bg) !important;
    border-bottom: 2px solid var(--far-bg) !important;
    color: var(--text);
  }

   .gjs-hovered{
    background-color: none !important;
  }
  .gjs-one-bg {
    background-color: var(--ui-default) !important;
  }

}

.gjs-sm-sector-title {
  background-color: var(--ui-default) !important;
  border-bottom: 2px solid var(--far-bg) !important;
  color: var(--text);
}


#gjs-editor{
  .gjs-one-bg {
    background-color: var(--far-bg) !important;
  }
}

.gjs-traits-c{
  background-color: white !important;
  color: var(--text);
}

.gjs-field-text, .gjs-field-select{
  background-color: white;
  border: 2px solid var(--ui-border);
  border-radius: 5px;
}

.gjs-d-s-arrow{
  border-top: 5px solid black !important;
}

body.gjs-preview-active .left-panel {
  display: none;
}

body.gjs-preview-active .right-panel {
  display: none;
}

.gjs-off-prv {
  display: none !important;
}