:root{
    --gjs-primary-color: var(--website-bg) !important;
}

.GrapesJsApp {
    background-color: var(--website-bg);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    .Editor {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;

        .TopPanel {
            width: 100%;
            background-color: var(--ui-bg);
            color: var(--text);
            display: flex;
            align-items: center;
            padding: 8px 16px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            justify-content: space-between;
        }

        .clear-canvas-button {
            background-color: var(--primary);
            color: var(--text);
            border: none;
            border-radius: 5px;
            padding: 6px 12px;
            margin-right: 31px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.2s;
        }

        .clear-canvas-button:hover {
            background-color: var(--dangerous);
        }

        .top-button {
            background-color: var(--ui-button);
            color: var(--text);
            border: none;
            border-radius: 5px;
            padding: 2px 5px;
            margin-right: 4px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.2s;
        }

        .top-button:hover {
            background-color: var(--ui-button-hover);
        }

        .top-left {
            display: flex;
            gap: 8px;
        }

        .device-buttons {
            display: flex;
            gap: 16px;
        }

        .top-button,
        .device-button {
            background-color: var(--ui-bg);
            color: var(--text);
            border: none;
            border-radius: 5px;
            padding: 6px;
            cursor: pointer;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.2s;
        }

        .top-button:hover,
        .device-button:hover {
            background-color: var(--primary-hover);
        }

        .MainContent {
            display: flex;
            flex: 1;
            width: 100%;
            max-height: 95vh;
            overflow-y: hidden;

            #gjs {

                flex-grow: 1;
                overflow-y: auto;
                background-color: var(--text);
            }

            .gjs-cv-canvas__frames {
                padding-bottom: 100px; /* Adjust the value as needed */
              }


            #blocks::-webkit-scrollbar {
                width: 6px;
            }

            #blocks::-webkit-scrollbar-thumb {
                background: var(--ui-subtle);
                border-radius: 3px;
            }

            #blocks::-webkit-scrollbar-thumb:hover {
                background: var(--primary);
            }

            #blocks::-webkit-scrollbar-track {
                background: transparent;
            }


            #right-panel::-webkit-scrollbar {
                width: 6px;
            }

            #right-panel::-webkit-scrollbar-thumb {
                background: var(--ui-subtle);
                border-radius: 3px;
            }

            #right-panel::-webkit-scrollbar-thumb:hover {
                background: var(--primary);
            }

            #right-panel::-webkit-scrollbar-track {
                background: transparent;
            }

            #right-panel {
                flex: 1;
                padding: 16px;
                background-color: var(--ui-bg);
                overflow-y: auto;
                border-top: var(--ui-border) solid 2px;
            }
        }

  #right-panel .gjs-sm-sector-title {
    background-color: var(--ui-bg);
    color: var(--text);
    padding: 15px;
    border-radius: 4px;
  }
  
  #right-panel .gjs-sm-properties {
    background-color: var(--far-bg);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  #right-panel .gjs-sm-property {
    margin-bottom: 10px;
  }
  
  #right-panel .gjs-sm-label {
    font-size: 14px;
    color: var(--gjs-secondary-color);
  }
  
  #right-panel .gjs-sm-field {
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  


        
        #blocks {
            width: 100%;
            height: 100%;
            padding: 16px;
            background-color: var(--ui-bg);
            color: var(--text);
            border-top: var(--ui-border) solid 2px;
            overflow-y: auto;

            scrollbar-width: thin;
            scrollbar-color: var(--ui-subtle) transparent;
        }

        #left-panel {
             display: flex;
    flex-direction: column;
            flex: 1;
            padding: 16px;
            background-color: var(--ui-bg);
            color: var(--text);
            border-top: var(--ui-border) solid 2px;
            overflow-y: auto;

            scrollbar-width: thin;
            scrollbar-color: var(--ui-subtle) transparent;
        }

        .gjs-cv-canvas {
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: transparent !important;
        }

        #blocks .gjs-block {
            background-color: var(--far-bg);
            color: var(--text);
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            transition: background-color 0.2s, transform 0.1s;
        }

        #blocks .gjs-block:hover {
            background-color: var(--primary);
            transform: scale(1.03);
        }

        #blocks .gjs-block-label {
            color: var(--text);
        }

        #blocks .gjs-block-category {
            padding: 8px;
            background-color: var(--ui-bg);
            color: var(--text);
            border-radius: 3px;
            text-transform: uppercase;
            font-size: 12px;
            border: none;
        }

        .gjs-toolbar {
            background-color: var(--primary);
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }


        /*Toggle Container*/
        .toggle-container {
            display: inline-flex;
            border: 2px solid #23252A; 
            border-radius: 5px;
            background-color: #17181B;
            font-size: 14px;
            margin-bottom: 15px;
          }
      
          .toggle-container input[type="radio"] {
            display: none;
          }
      
          .toggle-container label {
            flex: 1;
            cursor: pointer;
            padding: 6px 0;
            border-radius: 5px;  
            background-color: transparent;
            color: #fff;          
            user-select: none;
            text-align: center;
          }
      
          .toggle-container label:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
      
          .toggle-container input[type="radio"]:checked + label {
            background-color: #101012;
            color: #fff;             
          }

          .hidden { display: none; }
          .visible { display: block; }

          #editor-container {
            flex: 5;
            height: 100vh; /* Full viewport height */
            overflow: hidden; /* Prevent scrolling */
            display: flex;
          }
          
    }
}
